html{
    background-color: pink;
    font-size: 10px;
    font-family: 'Open Sans',sans-serif;
}
h1{
    margin: 0;
    padding: 20px 0;
    color: #efa3c1;
    /* font-size: 60px;
    text-align: center; */
    text-shadow: 3px 3px 1px black;
 
}
p,li{
    font-size: 16px;
    line-height: 2;
    letter-spacing: 1px;
    
}
body{
    width: 600px;
    margin:0 auto;
    background-color:white;
    padding: 0 20px 20px 20px;
    border: 5px solid black;

}